@import "../../../../../../../styles/colors";

li {
	letter-spacing: 2px;
	position: relative;
	&::before {
		content: '—';
		position: absolute;
		left: 12%;
		top: 4px;
	}
}
a {
	cursor: pointer;
	display: block;
	width: 100%;
	height: 100%;
	padding: 1% 10% 1% 20%;
	transition: all .25s;
	color: $white;
	&:hover {
		background-color: lighten($blue, 10%);
	}
}