@import "../../../../../../styles/colors";
main {
    width: 400px;
    height: 600px;
    max-height: calc(100vh - 100px);
    display: flex;
    flex-direction: column;
    .img-container {
        width: 100%;
        height: calc(100% - 130px);
        min-height: 370px;
        img {
            width: 100%;
            height: 100%;
            object-fit: cover;
        }
    }
    .info {
        height: 130px;
        padding: 20px;
        background: $white;
        p {
            border-bottom: 1px solid $blue;
            padding-bottom: 5px;
            margin-bottom: 10px;
            font-size: 1rem;
            font-weight: 700;
            color: $gray2;
            text-overflow: ellipsis;
            white-space: nowrap;
            overflow: hidden;
        }
        article {
            display: flex;
            font-weight: 400;
            color: $gray2;
            font-size: 0.9rem;
            align-items: center;
            justify-content: space-between;
            padding-top: 5px;
        }
    }
}