<main>
  <div class="img-container">
    <img [src]="card.productImage" alt="product image doesn't exist">
  </div>
  <div class="info">
    <p [title]="card.productTitle">{{card.productTitle}}</p>
    <section>
      <article>
        <span>Total sold</span>
        <span>{{card.soldItems ? card.soldItems : 0}}</span>
      </article>
      <article>
        <span>Stock on hand</span>
        <span>{{card.itemsOnStock ? card.itemsOnStock : 0}}</span>
      </article>
      <article>
        <span>Total added too wishlist</span>
        <span>0</span>
      </article>
    </section>
  </div>
</main>