<main>
    <form [formGroup]="form" novalidate autocomplete="off">
        <mat-form-field>
            <input matInput formControlName="email" type="email" placeholder="Enter email">
        </mat-form-field>

        <mat-form-field>
            <input matInput formControlName="password" type="password" placeholder="Enter password">
        </mat-form-field>

        <button mat-raised-button color="primary" (click)="onLogin()">Log in</button>

        <div class="form-group">
            <button mat-raised-button color="primary" (click)="goToRegister()">Register    </button>
            <button mat-raised-button color="primary" (click)="goToForgotPassword()">Forgot password?</button>
        </div>
    </form>
</main>
