<main>
  <div class="block">
    <span class="{{rounded && 'rounded'}}">{{v1}}</span>
    <db-value-dynamic *ngIf="p1" [value]="p1"></db-value-dynamic>
  </div>
  <div class="block">
    <span class="{{rounded && 'rounded'}}">{{v2}}</span>
    <db-value-dynamic *ngIf="p2" [value]="p2"></db-value-dynamic>
  </div>
</main>
