@import "../../../../../../styles/main.scss";
main {
  display: flex;
  height: 100%;
  width: 100%;
  .block {
    width: 50%;
    display: flex;
    flex-direction: column;
    &:first-of-type {
      margin-right: 5px;
      span {
        background-color: $blue;
      }
    }
    &:last-of-type {
      margin-left: 5px;
      span {
        background-color: $green;
      }
    }
    span {
      height: 35px;
      display: flex;
      justify-content: center;
      align-items: center;
      color: $white;
      &.rounded {
        border-radius: 20px;
      }
    }
    db-value-dynamic {
      align-self: center;
      margin-top: 10px;
    }
  }
}
