<div class="container">
  <div class="title">{{title}}
    <span class="hint" *ngIf="hint">{{hint}}</span>
    <mat-icon [matTooltip]="helpMessage" *ngIf="helpMessage">help</mat-icon>
  </div>
  <div class="content">
    <ng-content></ng-content>
  </div>
</div>
