@import "../../../../../../styles/main.scss";
.container {
  height: 60px;
  width: 100%;
  background: $blue;
  display: flex;
  align-items: center;
  justify-content: space-between;
  color: $white;
  .title {
    margin: 0 20px;
    font-size: 1.3rem;
    font-weight: 600;
    text-transform: uppercase;
    position: relative;
    // width: 100%;
    display: flex;
    align-items: center;
    mat-icon {
      cursor: help;
      padding-left: 20px;
    }
    .hint {
      position: absolute;
      font-size: .6rem;
      bottom: -11px;
      left: 0;
      font-weight: 400;
    }
  }
  .content {
    // width: 100%;
    margin-right: 20px;
    display: flex;
    align-items: center;
    justify-content: flex-end;
  }
}
