<main>
    <div>
        <db-filter></db-filter>
        <db-general-info></db-general-info>
        <db-revenues-chart></db-revenues-chart>
        <db-visitors-and-sales></db-visitors-and-sales>
        <!--<app-recos></app-recos>-->
        <!-- <db-see-fashion-chart></db-see-fashion-chart> -->
        <!--<db-top-recomendations></db-top-recomendations>-->
        <!--<db-opportunities></db-opportunities>-->
    </div>
</main>
