@import "../../../../../../../styles/main.scss";
main {
    padding: 10px 0 20px;
    .header {
        display: flex;
        align-items: center;
        justify-content: space-between;
        padding: 0 20px;
        width: 100%;
        span {
            color: $white;
            padding-bottom: 10px;
            &:last-child {
                font-size: .8rem;
            }
        }
    }
    canvas {
        background: transparent;
    }
}