@import "../../../../../../../styles/main.scss";
main {
  display: flex;
  margin-bottom: 40px;
  db-general-info-card {
    width: 25%;
    margin-right: 20px;
    &:last-of-type {
      margin-right: 0;
    }
  }
}
