<main>
  <db-general-info-card [currency]="(data$ | async)?.currency" [data]="(data$ | async)?.totalRevenue"></db-general-info-card>
  <db-general-info-card [currency]="(data$ | async)?.currency" [data]="(data$ | async)?.averageOrder"></db-general-info-card>
  <db-general-info-card [currency]="(data$ | async)?.currency" [data]="(data$ | async)?.conversionRate"></db-general-info-card>
  <db-general-info-card [currency]="(data$ | async)?.currency" [data]="(data$ | async)?.productViews"></db-general-info-card>
</main>
