@import "../../../../../../../styles/main.scss";
main {
    display: block;
    @include sf-card;
    margin-bottom: 40px;
    padding-bottom: 20px;
    canvas {
        padding: 20px 0 0 20px;
        height: 350px !important;
    }
    app-radio-button:last-child {
        margin-left: 20px;
    }
}
