@import "../../../../../../../styles/main.scss";
main {
  display: block;
  @include sf-card;
  db-card-header {
    app-radio-button:last-child {
      margin-left: 20px;
    }
  }
  .container {
    display: flex;
    flex-wrap: wrap;
    padding: 20px;
    >div {
      width: 100%;
      border-bottom: 1px solid $gray2;
      font-weight: 700;
      padding-bottom: 4px;
      margin-bottom: 30px;
    }
    section {
      &:first-of-type {
        width: 30%;
        padding-right: 20px;
        .revenues {
          margin-bottom: 30px;
          >div {
            border-bottom: 1px solid $blue;
            font-weight: 600;
            padding-bottom: 4px;
            margin-bottom: 10px;
            text-transform: uppercase;
          }
          >span {
            margin-bottom: 20px;
            display: block;
            color: $blue;
          }
        }
        .most-popular {
          img {
            width: 100%;
            height: 100%;
            object-fit: cover;
            cursor: pointer;
          }
          width: 100%;
          margin-bottom: 30px;
          >div {
            width: 100%;
            &:first-of-type {
              border-bottom: 1px solid $blue;
              font-weight: 600;
              padding-bottom: 4px;
              margin-bottom: 20px;
              text-transform: uppercase;
              color: $blue;
            }
            &:last-of-type {
              width: 100%;
              display: flex;
              >div {
                background-color: $gray1;
                width: 22%;
                margin-right: 4%;
                height: 80px;
                &:nth-of-type(4n) {
                  margin-right: 0;
                }
              }
            }
          }
        }
        .missed-opportunities {
          img {
            width: 100%;
            height: 100%;
            object-fit: cover;
            cursor: pointer;
          }
          width: 100%;
          margin-bottom: 30px;
          span {
            font-size: .6rem;
            margin-bottom: 20px;
            display: block;
          }
          >div {
            width: 100%;
            &:first-of-type {
              border-bottom: 1px solid $blue;
              font-weight: 600;
              padding-bottom: 4px;
              text-transform: uppercase;
              margin-bottom: 6px;
              color: $blue;
            }
            &:last-of-type {
              width: 100%;
              display: flex;
              flex-wrap: wrap;
              >div {
                background-color: $gray1;
                width: 22%;
                margin-right: 4%;
                height: 80px;
                margin-bottom: 4%;
                &:nth-of-type(4n) {
                  margin-right: 0;
                }
              }
            }
          }
        }
      }
      &:last-of-type {
        width: 70%;
      }
    }
  }
}
