<main *ngIf="data$ | async as data">
  <db-card-header [title]="'missed / saved opportunities'" helpMessage="Help" hint="— CLICK ON AN AREA TO SEE ALL THE SEARCHES IN THAT AREA">
    <div>
      <app-radio-button [color]="'blue'">Standard</app-radio-button>
      <app-radio-button [color]="'green'">See fashion</app-radio-button>
    </div>
  </db-card-header>
  <div class="container">
    <!-- <div>London, UK</div> -->
    <section>
      <div class="revenues" *ngIf="data.totalRevenue?.bar1">
        <div>Revenues</div>
        <span>{{ getTotal(data.totalRevenue) | currency:'GBP':'symbol-narrow':'1.0-0'}}</span>

        <db-bar1 *ngIf="data.totalRevenue?.bar1.standard" [value]="data.totalRevenue?.bar1.standard.value" [dataType]="data.totalRevenue.dataType"
          [total]="getTotal(data.totalRevenue)" color="blue" [progress]="data.totalRevenue?.bar1.standard.kpi"></db-bar1>
        <db-bar1 *ngIf="data.totalRevenue?.bar1.seeFashion" [value]="data.totalRevenue.bar1.seeFashion.value" [dataType]="data.totalRevenue.dataType"
          [total]="getTotal(data.totalRevenue)" color="green" [progress]="data.totalRevenue?.bar1.seeFashion.kpi"></db-bar1>
      </div>

      <div class="most-popular">
        <div>most popular</div>
        <div>
          <div *ngFor="let img of data.mostPopular">
            <img [@fadeIn]="" [src]="img.productImage" (click)="showItem(img)">
          </div>
        </div>
      </div>

      <div class="missed-opportunities">
        <div>missed opportunities</div>
        <span>We saved 20 browser abandonments in the
          <b>
            <i>last 14 days</i>
          </b>
        </span>
        <div>
          <div *ngFor="let img of data.missedOpportunities">
            <img [@fadeIn]="" [src]="img.productImage" (click)="showItem(img)">
          </div>
        </div>
      </div>
    </section>
    <section>
      <db-map (select)="onMapSelect($event)"></db-map>
    </section>
  </div>
</main>
