@import "../../../../../styles/main.scss";
@import "../../../../../styles/colors";
.logo {
    width: 100%;
    padding: 5px;
    height: 80px;
    display: flex;
    justify-content: center;
    align-items: center;
    img {
        width: 100%;
        cursor: pointer;
    }
}

.mat-nav-list {
    padding: 0;
}

.menu-element {
    position: relative;
    display: flex;
    height: 50px;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    transition: all .25s;
    &:not(:last-child)::after {
        position: absolute;
        content: '';
        width: 50%;
        left: 0;
        right: 0;
        bottom: 0;
        height: 1px;
        transition: all .25s;
        background-color: #fff;
        opacity: 0.3;
        margin: 0 auto;
    }
    &:hover {
        background-color: lighten($blue, 10%);
        &::after {
            opacity: 0;
        }
    }
    mat-icon {
        font-size: 1.3rem;
        width: 22px;
        height: 22px;
        color: $white;
    }
}

.sitename {
    color: $white;
    font-size: 14px;
    display: block;
	position: absolute;
	width: 120px;
	bottom: 100px;
    left: -32px;
	transform: rotate(-90deg);
    
}