<div class="logo">
  <img src="/assets/images/logo.png" alt="logo">
</div>

<mat-nav-list>
  <div mat-list-item class="menu-element">
    <mat-icon>pie_chart</mat-icon>
  </div>

  <div class="menu-element">
    <mat-icon>shopping_basket</mat-icon>
  </div>

  <div class="menu-element">
    <mat-icon>dashboard</mat-icon>
  </div>

  <div class="menu-element">
    <mat-icon>people</mat-icon>
  </div>

  <div class="menu-element">
    <mat-icon>cached</mat-icon>
  </div>

  <div class="menu-element">
    <mat-icon>settings</mat-icon>
  </div>

</mat-nav-list>

<span class="sitename">See.fashion 2018</span>