@import "../../../../../../../styles/main.scss";
main {
    display: block;
    @include sf-card;
    margin-bottom: 40px;
    app-radio-button:last-child {
        margin-left: 20px;
    }
    section {
        display: flex; // padding: 20px;
        background: -moz-linear-gradient(left, rgba(249, 172, 24, 0.96) 0%, rgba(249, 172, 24, 0.97) 10%, rgba(55, 68, 115, 0.99) 40%, rgba(55, 68, 115, 1) 51%, rgba(55, 68, 115, 1) 67%, rgba(0, 165, 116, 0.99) 87%, rgba(0, 165, 116, 0.99) 100%);
        /* FF3.6-15 */
        background: -webkit-linear-gradient(left, rgba(249, 172, 24, 0.96) 0%, rgba(249, 172, 24, 0.97) 10%, rgba(55, 68, 115, 0.99) 40%, rgba(55, 68, 115, 1) 51%, rgba(55, 68, 115, 1) 67%, rgba(0, 165, 116, 0.99) 87%, rgba(0, 165, 116, 0.99) 100%);
        /* Chrome10-25,Safari5.1-6 */
        background: linear-gradient(to right, rgba(249, 172, 24, 0.96) 0%, rgba(249, 172, 24, 0.97) 10%, rgba(55, 68, 115, 0.99) 40%, rgba(55, 68, 115, 1) 51%, rgba(55, 68, 115, 1) 67%, rgba(0, 165, 116, 0.99) 87%, rgba(0, 165, 116, 0.99) 100%);
        /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
        filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#f5f9ac18', endColorstr='#fc00a574', GradientType=1);
        /* IE6-9 */
        div {
            width: 33.3%;
            &:not(:last-child) {
                border-right: 1px solid $white;
            }
        }
    }
}