<mat-toolbar color="primary">
  <button type="button" aria-label="Toggle sidenav" mat-icon-button (click)="drawer.toggle()" *ngIf="isHandset">
    <mat-icon aria-label="Side nav toggle icon">menu</mat-icon>
  </button>
  <div class="container-wrapper">
    <div class="container">
      <div class="title">
        <h1>Recommendation Performance Dashboard</h1>
        <p class="subtitle">see fashion/standard performance</p>
      </div>
      <div class="auth">

        <app-dropdown-menu label="See fashion User">
          <app-dropdown-menu-item (click)="openProfile()">My profile</app-dropdown-menu-item>
          <app-dropdown-menu-item (click)="logout()">Log Out</app-dropdown-menu-item>
        </app-dropdown-menu>

        <div>
          <app-radio-button [color]="'blue'">Standard</app-radio-button>
          <app-radio-button [color]="'green'">See fashion</app-radio-button>
        </div>

      </div>
    </div>
  </div>
</mat-toolbar>
