
@import "../../../../../styles/mixins";

.mat-toolbar {
	height: 80px;
	padding: 10px 0;
	position: relative;
    z-index: 1000;
	@include sf-card;
}

.title{
	font-family: 'Work Sans';

	h1{
		font-family: 'Work Sans';
		text-transform: uppercase;
		font-weight: 700;
		font-size: 1.3rem;
	}
	
	.subtitle{
		font-size: .8rem;
		font-family: 'Brandon';
		text-transform: uppercase;
		line-height: 1.3;
	}
}

.auth{
	display: flex;
	flex-direction: column;
	align-items: flex-end;

	app-radio-button{
		margin-left: 20px;
		&:first-child{
			margin-left: 0;
		}
	}
}

.container{
	max-width: 1000px;
	margin: 0 auto;
	width: 100%;
	display: flex;
	align-items: center;
	justify-content: space-between;
	position: relative;
}
.container-wrapper{
	padding: 0 40px 0 26px;
	width: 100%;
	@include tab{
		padding: 0 60px 0 40px;
	}
}
mat-toolbar{
	padding: 0;
}
