@import "colors";
* {
    box-sizing: border-box;
    outline: none !important;
    -webkit-overflow-scrolling: touch;
    font-family: 'Work Sans';
    -webkit-tap-highlight-color: rgba(255, 255, 255, 0);
}

body {
    font-weight: 400;
    font-family: 'Work Sans', sans-serif;
    color: #4D4F5C;
    position: relative;
    overflow: hidden;
    margin: 0;
    min-height: 100vh;
	height: 100%;
    &.scrollable {
        overflow-y: auto;
    }
}

.noselect {
    -webkit-touch-callout: none;
    /* iOS Safari */
    -webkit-user-select: none;
    /* Chrome/Safari/Opera */
    -khtml-user-select: none;
    /* Konqueror */
    -moz-user-select: none;
    /* Firefox */
    -ms-user-select: none;
    /* Internet Explorer/Edge */
    user-select: none;
}

input:-webkit-autofill {
    -webkit-box-shadow: 0 0 0 30px white inset;
}

input::-ms-clear {
    display: none;
}

input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus,
input:-webkit-autofill:active {
    transition: background-color 5000s ease-in-out 0s;
}

b { 
    font-weight: 700;
}

i {
    font-style: italic;
}