  @font-face {
      font-family: 'Brandon';
      src: url('/assets/fonts/BrandonGrotesque-Regular.eot');
      src: url('/assets/fonts/BrandonGrotesque-Regular.woff') format('woff'), url('/assets/fonts/BrandonGrotesque-Regular.ttf') format('truetype');
  }