@import '~@angular/material/theming';
@include mat-core();
$primary: ( 50: #e9f1ff, 100: #c8dbff, 200: #a3c3ff, 300: #7eabff, 400: #6399ff, 500: #212F64, 600: #407fff, 700: #3774ff, 800: #2f6aff, 900: #2057ff, A100: #ffffff, A200: #ffffff, A400: #cfdaff, A700: #b6c6ff, contrast: ( 50: $black-87-opacity, 100: $black-87-opacity, 200: $black-87-opacity, 300: $black-87-opacity, 400: $black-87-opacity, 500: white, 600: white, 700: white, 800: $white-87-opacity, 900: $white-87-opacity, A100: $black-87-opacity, A200: white, A400: white, A700: white, ));
$accent: ( 50: #e0f4fe, 100: #b3e5fd, 200: #80d3fb, 300: #4dc1f9, 400: #26b4f8, 450: #2391c4, 500: #00A774, 600: #009ff6, 700: #0096f5, 800: #008cf3, 900: #007cf1, A100: #ffffff, A200: #e5f1ff, A400: #b2d5ff, A700: #98c7ff, contrast: ( 50: $black-87-opacity, 100: $black-87-opacity, 200: $black-87-opacity, 300: $black-87-opacity, 400: $black-87-opacity, 500: white, 600: white, 700: white, 800: $white-87-opacity, 900: $white-87-opacity, A100: $black-87-opacity, A200: white, A400: white, A700: white, ));
$warn: ( 50: #ffebe4, 100: #ffcdbd, 200: #ffab91, 300: #fe8964, 400: #fe7043, 500: #F80000, 600: #fe4f1e, 700: #fe4619, 800: #fe3c14, 900: #fd2c0c, A100: #ffffff, A200: #fff5f4, A400: #ffc7c1, A700: #ffb0a7, contrast: ( 50: $black-87-opacity, 100: $black-87-opacity, 200: $black-87-opacity, 300: $black-87-opacity, 400: $black-87-opacity, 500: white, 600: white, 700: white, 800: $white-87-opacity, 900: $white-87-opacity, A100: $black-87-opacity, A200: white, A400: white, A700: white, ));
//create palettes
$app-primary: mat-palette($primary);
$app-accent: mat-palette($accent);
$app-warn: mat-palette($warn);

$app-theme: mat-light-theme($app-primary, $app-accent, $app-warn);
@include angular-material-theme($app-theme);
@import '~saturn-datepicker/theming';
@include sat-datepicker-theme($app-theme);
@font-face {
    font-family: 'Material Icons';
    font-style: normal;
    font-weight: 400;
    src: url('/assets/fonts/MaterialIcons-Regular.eot');
    /* For IE6-8 */
    src: local('Material Icons'), local('MaterialIcons-Regular'), url('/assets/fonts/MaterialIcons-Regular.woff2') format('woff2'), url('/assets/fonts/MaterialIcons-Regular.woff') format('woff'), url('/assets/fonts/MaterialIcons-Regular.ttf') format('truetype');
}

.material-icons {
    font-family: 'Material Icons';
    font-weight: normal;
    font-style: normal;
    font-size: 24px;
    /* Preferred icon size */
    display: inline-block;
    line-height: 1;
    text-transform: none;
    letter-spacing: normal;
    word-wrap: normal;
    white-space: nowrap;
    direction: ltr;
    /* Support for all WebKit browsers. */
    -webkit-font-smoothing: antialiased;
    /* Support for Safari and Chrome. */
    text-rendering: optimizeLegibility;
    /* Support for Firefox. */
    -moz-osx-font-smoothing: grayscale;
    /* Support for IE. */
    font-feature-settings: 'liga';
}

.mat-form-field, .mat-toolbar, .mat-tab-label-content {
    font-family: 'Work Sans' !important;
}

.mat-form-field-underline {
    transform: perspective(1px) !important;
}

mat-icon {
    user-select: none;
}

/deep/ .mat-dialog-container {
    padding: 0 !important;
}
