$tab: 1200px;
$tel: 768px;
@mixin tab {
    @media (max-width: #{$tab}) {
        @content;
    }
}

@mixin tel {
    @media (max-width: #{$tel}) {
        @content;
    }
}

@mixin sf-card() {
    box-shadow: 0px 5px 5px -3px rgba(0, 0, 0, 0.2), 0px 8px 10px 1px rgba(0, 0, 0, 0.14), 0px 3px 14px 2px rgba(0, 0, 0, 0.12);
}