@import "../../../../../../../styles/main.scss";
main {
  display: flex;
  margin-bottom: 40px;
  .card {
    @include sf-card;
    position: relative;
    padding-bottom: 40px;
    width: calc(100% / 3);
    margin-right: 20px;
    db-card-header {
      mat-icon {
        cursor: help;
      }
    }
    &:last-of-type {
      margin-right: 0;
    }
    .content {
      padding: 20px;
      app-info-block {
        display: block;
        margin-bottom: 20px;
        &:last-of-type {
          margin-bottom: 0;
        }
      }
    }
    .details {
      position: absolute;
      bottom: 20px;
      left: 20px;
      text-transform: uppercase;
      color: $green;
      font-size: .8rem;
      font-weight: 600;
      margin-top: 40px;
      cursor: pointer;
      &:hover {
        color: lighten($green, 10%);
      }
    }
  }
}
