<main>
  <div class="card">
    <db-card-header [title]="'visitors'">
      <mat-icon matTooltip="Help">help</mat-icon>
    </db-card-header>
    <div class="content">
      <app-info-block [data]="(visitors$ | async)?.uniqueVisitors"></app-info-block>
      <app-info-block [data]="(visitors$ | async)?.numberOfProductsViewed"></app-info-block>
      <app-info-block [data]="(visitors$ | async)?.averageTimePerProductView"></app-info-block>
      <app-info-block [data]="(visitors$ | async)?.numberOfRecomendations"></app-info-block>
    </div>
    <div class="details">+ details</div>
  </div>
  <div class="card">
    <db-card-header [title]="'add to cart'">
      <mat-icon matTooltip="Help">help</mat-icon>
    </db-card-header>
    <div class="content">
      <app-info-block [data]="(addToCart$ | async)?.totalAddToCarts"></app-info-block>
      <app-info-block [data]="(addToCart$ | async)?.totalValueOfAddToCarts"></app-info-block>
      <app-info-block [data]="(addToCart$ | async)?.averageNumberOfItemsPerVisitor"></app-info-block>
    </div>
    <div class="details">+ details</div>
  </div>
  <div class="card">
    <db-card-header [title]="'sales'">
      <mat-icon matTooltip="Help">help</mat-icon>
    </db-card-header>
    <div class="content">
      <app-info-block [data]="(sales$ | async)?.revenues"></app-info-block>
      <app-info-block [data]="(sales$ | async)?.revenuePerVisit"></app-info-block>
      <app-info-block [data]="(sales$ | async)?.revenuePerProductView"></app-info-block>
      <app-info-block [data]="(sales$ | async)?.averageOrderSize"></app-info-block>
    </div>
    <div class="details">+ details</div>
  </div>
</main>
