<button type="button" (click)="toggleState()">
	<mat-icon>account_circle</mat-icon>
</button>

<div class="menu" [class.active]="isActive">
	<div class="headline">
		<span>{{label}}</span>
		<mat-icon>account_circle</mat-icon>
	</div>
	<div class="items">
		<ul>
			<ng-content></ng-content>
		</ul>
	</div>
</div>