@import "../../../../../../styles/colors";
@import "../../../../../../styles/mixins";
:host {
    width: 30px;
    height: 30px;
    position: relative;
}

button {
    border: none;
    border-radius: 10em;
    display: inline-block;
    width: 100%;
    height: 100%;
    color: $white;
    background: none;
    padding: 0;
    text-align: center;
    cursor: pointer;
    mat-icon {
        width: 100%;
        height: 100%;
        font-size: 2rem;
    }
}

.menu {
	position: absolute;
	@include sf-card;
    opacity: 0;
    visibility: hidden;
    transition: all .25s;
    z-index: 1;
    right: -18px;
    top: -12px;
    background-color: $blue;
    min-width: 240px;
    &.active {
		opacity: 1;
		visibility: visible;
    }
    .headline {
        background-color: $white;
        color: $blue;
        font-size: 1.2rem;
        padding: 5% 10%;
		font-weight: bold;
		display: flex;
		align-items: center;
		justify-content: space-between;
		mat-icon{
			font-size: 2rem;
			margin-bottom: 8px;
		}
    }
    .items {
		font-weight: 300;
        font-size: 1rem;
        text-transform: uppercase;
		padding: 6% 0;
    }
}