@import "../../../../../../styles/main.scss";
main {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
  div {
    position: relative;
    img {
      width: 100%;
    }
  }
}
