@import "../../../../../../styles/main.scss";
main {
  width: 100%;
  display: flex;
  >div {
    position: relative;
    height: 6px;
    transition: all .3s ease-in-out;
    &:first-of-type {
      background-color: $blue;
      border-top-left-radius: 3px;
      border-bottom-left-radius: 3px;
      .sprite {
        position: absolute;
        right: 0;
        top: 0;
        height: 100%;
        width: 8px;
        border-top-left-radius: 3px;
        border-bottom-left-radius: 3px;
        background-color: $green;
      }
      .value {
        position: absolute;
        right: 10px;
        top: -15px;
        font-size: .6rem;
        span {
          &:first-of-type {
            color: $blue;
            font-weight: 600;
          }
          &:last-of-type {
            position: absolute;
            height: 8px;
            width: 1px;
            background-color: $blue;
            display: block;
            left: 50%;
            bottom: -10px;
          }
        }
      }
    }
    &:last-of-type {
      background-color: $green;
      border-top-right-radius: 3px;
      border-bottom-right-radius: 3px;
      .value {
        position: absolute;
        right: 10px;
        top: -15px;
        font-size: .6rem;
        span {
          &:first-of-type {
            color: $green;
            font-weight: 600;
          }
          &:last-of-type {
            position: absolute;
            height: 8px;
            width: 1px;
            background-color: $green;
            display: block;
            left: 50%;
            bottom: -10px;
          }
        }
      }
    }
    &.gray {
      background-color: $gray2;
    }
  }
}
