<main>
  <div *ngIf="!v1 || !v2" class="gray" [style.width.%]="100"></div>
  <div *ngIf="v1 && v2" class="blue" [style.width.%]="v1*100/(v1 + v2)">
    <span class="sprite"></span>
    <div class="value">
      <span *ngIf="dataType === DataType.NUMERIC">{{v1 | number:'1.0-0'}}</span>
      <span *ngIf="dataType === DataType.CURRENCY">{{v1 | currency:'GBP':'symbol-narrow':'1.0-0'}}</span>
      <span *ngIf="dataType === DataType.PERCENTAGE">{{v1 | number:'1.1-1'}}%</span>
      <span></span>
    </div>
  </div>
  <div *ngIf="v1 && v2" class="green" [style.width.%]="v2*100/(v1 + v2)">
    <div class="value">
      <span *ngIf="dataType === DataType.NUMERIC">{{v2 | number:'1.0-0'}}</span>
      <span *ngIf="dataType === DataType.CURRENCY">{{v2 | currency:'GBP':'symbol-narrow':'1.0-0'}}</span>
      <span *ngIf="dataType === DataType.PERCENTAGE">{{v2 | number:'1.1-0'}}%</span>
      <span></span>
    </div>
  </div>
</main>
