@import "../../../../../../../styles/main.scss";
main {
    display: block;
    @include sf-card;
    margin-bottom: 40px;
    .show-all-btn {
        background: $white;
        border: none;
        border-radius: 35px;
        height: 23px;
        font-size: .8rem;
        font-weight: 600;
        cursor: pointer;
        color: $blue;
        width: 90px;
        transition: all .25s;
        &:hover {
            background-color: darken($white, 10%);
        }
    }
    .container {
        display: block;
        padding: 40px 40px 5px;
        height: 100%;
        transition: height 0.25s ease-in;
        background: $white;
        .cards {
            background: $white;
            display: flex;
            flex-wrap: wrap;
            .mat-card-content {
                text-overflow: ellipsis;
                white-space: nowrap;
                overflow: hidden;
                font-size: 14px;
                line-height: 29px;
                font-weight: 500;
                margin-left: -20px;
                @include tel {
                    margin-left: -10px;
                }
            }
            .mat-card-image {
                margin-bottom: 10px !important;
            }
            .card {
                z-index: 100;
                width: 22%;
                margin-bottom: 4%;
                margin-right: 4%;
                height: 300px;
                cursor: pointer;
                position: relative;
                background: $gray4;
                @include sf-card;
                &:nth-child(4n) {
                    margin-right: 0;
                }
                @include tab {
                    width: 48%;
                    margin-bottom: 4%;
                    margin-right: 4%;
                    height: calc(100vw / 3);
                    &:nth-child(4n) {
                        margin-right: 4%;
                    }
                    &:nth-child(2n) {
                        margin-right: 0;
                    }
                }
                @include tel {
                    width: 100%;
                    height: calc(100vw / 2);
                    margin-bottom: 40px;
                    margin-right: 0;
                }
                img {
                    padding-bottom: 0;
                    height: 100%;
                    width: 100%;
                    object-fit: cover;
                }
                .content {
                    width: 100%;
                    height: 100%;
                    position: relative;
                    .info {
                        position: absolute;
                        display: flex;
                        flex-direction: column;
                        justify-content: space-between;
                        bottom: 0;
                        left: 0;
                        right: 0;
                        background: rgba(255, 255, 255, 0.68);
                        padding: 20px;
                        height: 55px;
                        -webkit-transition-property: height;
                        /* Safari */
                        -webkit-transition-duration: .3s;
                        /* Safari */
                        -webkit-transition-delay: .1s;
                        /* Safari */
                        transition-property: height;
                        transition-duration: .3s;
                        transition-delay: .1s;
                        overflow: hidden;
                        div {
                            border-bottom: 1px solid $blue;
                            padding-bottom: 5px;
                            margin-bottom: 15px;
                            font-size: 0.8rem;
                            font-weight: 700;
                            color: $gray2;
                            text-overflow: ellipsis;
                            white-space: nowrap;
                            p {
                                overflow: hidden;
                                text-overflow: ellipsis;
                            }
                        }
                        article {
                            display: flex;
                            font-weight: 400;
                            color: $gray2;
                            font-size: 0.7rem;
                            align-items: center;
                            justify-content: space-between;
                            padding-top: 5px;
                        }
                    }
                }
            }
            .card:hover {
                .info {
                    height: 105px !important;
                    -webkit-transition-property: height;
                    /* Safari */
                    -webkit-transition-duration: .3s;
                    /* Safari */
                    -webkit-transition-delay: .1s;
                    /* Safari */
                    transition-property: height;
                    transition-duration: .3s;
                    transition-delay: .1s;
                }
            }
            .load-more {
                display: flex;
                justify-content: center;
                width: 100%;
            }
        }
    }
    .table {
        width: 100%;
        padding: 40px;
        background: $blue;
        color: $white;
        border-top: .3px solid $gray2;
        table {
            width: 100%;
            border-collapse: collapse;
            text-align: left;
            td {
                padding: 10px 15px;
            }
            th {
                padding: 15px;
            }
            thead {
                color: $green;
                font-weight: 600;
                font-size: 1.1rem;
            }
            tbody {
                font-weight: 400;
                line-height: 1.6rem;
                tr {
                    td {
                        &:not(:first-child) {
                            border-left: .1px solid $gray2;
                        }
                    }
                    border-top: .1px solid $gray2;
                    border-bottom: .1px solid $gray2;
                    &:hover {
                        background: lighten($blue, 10%);
                        cursor: pointer;
                    }
                }
            }
        }
    }
    .center {
        text-align: center;
    }
    .semibold {
        font-weight: 600;
    }
}