<main #container>
    <db-card-header [title]="'top recommendations'" helpMessage="Help Message">
        <button *ngIf="!isTableDisplayed" class="show-all-btn" type="button" (click)="loadAll()">VIEW ALL</button>
        <button *ngIf="isTableDisplayed" mat-icon-button (click)="loadMore(0)">
            <mat-icon>close</mat-icon>
        </button>
    </db-card-header>
    <div class="container" *ngIf="!isTableDisplayed; else showCards">
        <div class="cards">
            <div class="card" *ngFor="let recommendation of recommendations" (click)="openRecommendationDialog(recommendation)">
                <div class="content">
                    <img [src]="recommendation.productImage" alt="product image doesn't exist">
                    <div class="info">
                        <div>
                            <p [title]="recommendation.productTitle">{{recommendation.productTitle}}</p>
                        </div>
                        <section>
                            <article>
                                <span>Total sold</span>
                                <span>{{recommendation.soldItems ? recommendation.soldItems : 0}}</span>
                            </article>
                            <article>
                                <span>Stock on hand</span>
                                <span>{{recommendation.itemsOnStock ? recommendation.itemsOnStock : 0}}</span>
                            </article>
                        </section>
                    </div>
                </div>
            </div>
            <div class="load-more" *ngIf="recommendations?.length < recommendationSize">
                <button mat-icon-button color="primary" matTooltip="Load more" matTooltipPosition="after" (click)="loadMore(recommendations.length)">
                    <mat-icon>keyboard_arrow_down
                    </mat-icon>
                </button>
            </div>
        </div>
    </div>

    <ng-template #showCards>
        <div class="table" [@fadeIn]="">
            <table>
                <thead>
                    <tr>
                        <th>&#8470;</th>
                        <th>PRODUCT TITLE</th>
                        <th class="center">SOLD</th>
                        <th class="center">ON STOCK</th>
                        <th class="center">DESCRIPTION</th>
                    </tr>
                </thead>
                <tbody>
                    <tr *ngFor="let recommendation of recommendations; let i = index" (click)="openRecommendationDialog(recommendation)">
                        <td> {{i + 1}} </td>
                        <td class="semibold"> {{recommendation.productTitle}} </td>
                        <td class="center"> {{recommendation.soldItems ? recommendation.soldItems : 0}} </td>
                        <td class="center"> {{recommendation.itemsOnStock ? recommendation.itemsOnStock : 0}} </td>
                        <td class="center semibold"> description </td>
                    </tr>
                </tbody>
            </table>
        </div>
    </ng-template>
</main>