<main>
    <form [formGroup]="form" novalidate autocomplete="off">
        <mat-form-field>
            <input matInput formControlName="firstName" type="text" placeholder="First name">
        </mat-form-field>

        <mat-form-field>
            <input matInput formControlName="lastName" type="text" placeholder="Last name">
        </mat-form-field>

        <mat-form-field>
            <input matInput formControlName="email" type="email" placeholder="Email address">
        </mat-form-field>

        <mat-form-field>
            <input matInput formControlName="shopDomain" type="text" placeholder="Shopify store domain">
        </mat-form-field>

        <mat-form-field>
            <input matInput formControlName="password" type="password" placeholder="Enter password">
        </mat-form-field>

        <mat-form-field>
            <input matInput formControlName="password2" type="password" placeholder="Confirm password">
        </mat-form-field>

        <button mat-raised-button color="primary" (click)="onRegister()">Register</button>

    </form>
</main>
