/* Customize the label (the container) */

@import "../../../../../styles/colors";
:host {
    position: relative;
    padding-right: 18px;
    text-transform: uppercase;
    font-size: 12px;
}

span {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    margin: auto 0;
    height: 12px;
    width: 12px;
    transition: all .2s;
    background: none;
    border: 1px solid #fff;
    border-radius: 50%;
    &.blue {
        background-color: #212F64;
    }
    &.green {
        background-color: $green;
        border: 1px solid $green;
    }
}