<main *ngIf="region" [ngStyle]="mainStyle" [class.active]="(activeRegion$ | async) === region.region">
  <div class="circle" [ngStyle]="circleStyle" (click)="onClick()"></div>
  <div class="label-container" [ngStyle]="labelContainerStyle">
    <div class="label" [ngStyle]="labelStyle" (click)="onClick()">{{region.label}}</div>
  </div>
</main>
