@import "../../../../../../styles/main.scss";
main {
  position: absolute;
  width: 100%;
  height: 100%;
  pointer-events: none;
  .circle {
    pointer-events: auto;
    cursor: pointer;
    border-radius: 50%;
    display: block;
    opacity: .7;
    background-position: center;
    transition: all 0.4s;
    background-color: $gray2;
  }
  .label-container {
    border-left: 1px solid $gray2;
    position: absolute;
    opacity: .7;
  }
  .label {
    pointer-events: auto;
    position: absolute;
    font-size: .6rem;
    cursor: pointer;
    white-space: nowrap;
    bottom: 0;
    margin-left: 4px;
    font-weight: 600;
    color: $gray2;
  }
  &.active {
    .circle {
      background-color: $red;
    }
    .label-container {
      border-color: $red;
    }
    .label {
      color: $red;
    }
  }
}
