@import "../../../../../../styles/main.scss";
main {
  >div {
    &:first-of-type {
      display: flex;
      align-items: center;
      border-bottom: 1px solid $gray2;
      text-transform: uppercase;
      font-size: .6rem;
      font-weight: 700;
      margin-bottom: 6px;
      padding-bottom: 6px;
      span {
        margin-right: 10px;
      }
      db-value-dynamic {
        display: inline-block;
      }
    }
    &:last-of-type {
      display: flex;
      align-items: center;
      span {
        width: 100%;
      }
      .blocks {
        width: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
        db-blocks {
          font-size: .8rem;
          width: 150px;
          height: 20px;
        }
      }
    }
  }
  db-bar1:first-of-type,
  db-bar2 {
    margin-top: 18px;
    display: block;
  }
}
