<main *ngIf="data">
  <div>
    <span>{{data.title}}</span>
    <db-value-dynamic *ngIf="data.kpi" [value]="data.kpi"></db-value-dynamic>
  </div>
  <div>
    <span *ngIf="data.dataType === DataType.NUMERIC">{{data.value | number:'1.0-0'}}</span>
    <span *ngIf="data.dataType === DataType.CURRENCY">{{data.value | currency:'GBP':'symbol-narrow':'1.0-0'}}</span>
    <span *ngIf="data.dataType === DataType.PERCENTAGE">{{data.value | number:'1.1-1'}}%</span>
  </div>
  <db-bar1 *ngIf="data.bar1" [value]="data.bar1.standard.value" color="blue" [total]="data.bar1.standard.value + data.bar1.seeFashion.value"
    [progress]="data.bar1.standard.kpi" [dataType]="data.dataType"></db-bar1>
  <db-bar1 *ngIf="data.bar1" [value]="data.bar1.seeFashion.value" color="green" [total]="data.bar1.standard.value + data.bar1.seeFashion.value"
    [progress]="data.bar1.seeFashion.kpi" [dataType]="data.dataType"></db-bar1>
  <db-bar2 *ngIf="data.bar2" [v1]="data.bar2.standard" [v2]="data.bar2.seeFashion" [dataType]="data.dataType"></db-bar2>
</main>
