<main class="{{color}}">
    <div *ngIf="!value" class="gray" [style.width.%]="100"></div>
    <div *ngIf="value && total" [style.width.%]="value/total*100">
        <span class="dash"></span>
        <div class="value">
            <span *ngIf="dataType === DataType.NUMERIC">{{value | number:'1.0-0'}}</span>
            <span *ngIf="dataType === DataType.CURRENCY">{{value | currency:'GBP':'symbol-narrow':'1.0-0'}}</span>
            <span *ngIf="dataType === DataType.PERCENTAGE">{{value | number:'1.1-1'}}%</span>
            <span class="value-dash"></span>
        </div>
        <db-value-dynamic *ngIf="progress" [value]="progress" [color]="color"></db-value-dynamic>
    </div>
    <div *ngIf="total" class="gray" [style.width.%]="(1 - value/total)*100">
        <span class="sprite"></span>
    </div>
</main>