@import "../../../../../../styles/main.scss";
main {
  width: 100%;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  height: 20px;
  margin: 6px 0;
  &.blue {
    color: $blue;
    >div:first-of-type,
    .dash,
    .value-dash,
    .sprite {
      background-color: $blue;
    }
  }
  &.green {
    color: $green;
    >div:first-of-type,
    .dash,
    .value-dash,
    .sprite {
      background-color: $green;
    }
  }
  >div {
    position: relative;
    height: 6px;
    transition: all .3s ease-in-out;
    &:first-of-type {
      .dash {
        height: 16px;
        width: 2px;
        position: absolute;
        top: -5px;
        left: 0;
      }
      .value {
        position: absolute;
        right: -8px;
        top: -15px;
        font-size: .6rem;
        .value-dash {
          position: absolute;
          height: 8px;
          width: 1px;
          display: block;
          left: 50%;
          bottom: -10px;
        }
      }
      db-value-dynamic {
        position: absolute;
        top: -16px;
        left: 10px;
      }
    }
    &:last-of-type {
      border-top-right-radius: 3px;
      border-bottom-right-radius: 3px;
      .sprite {
        position: absolute;
        left: 0;
        top: 0;
        height: 100%;
        width: 8px;
        border-top-right-radius: 3px;
        border-bottom-right-radius: 3px;
      }
      .value {
        position: absolute;
        right: 10px;
        top: -15px;
        font-size: .6rem;
        span {
          &:first-of-type {
            font-weight: 600;
          }
          &:last-of-type {
            position: absolute;
            height: 8px;
            width: 1px;
            display: block;
            left: 50%;
            bottom: -10px;
          }
        }
      }
    }
    &.gray {
      background-color: $gray1 !important;
    }
  }
}
