@import "../../../../../../styles/main.scss";
.fast-scroll {
    @include sf-card;
    width: 50px;
    height: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    position: fixed;
    z-index: 10;
    background: $blue;
    color: white;
    bottom: 36px;
    right: 36px;
    border-radius: 50%;
    cursor: pointer;
    i {
        font-size: 20px;
        padding-bottom: 2px;
        transform: .3s ease;
    }
    &:hover {
        background: lighten($blue, 10%);
    }
    @media screen and (max-width: 768px) {
        right: 15px;
        bottom: 15px;
    }
}