@import "../../../../../../styles/main.scss";
div {
  display: flex;
  align-items: center;
  font-size: .6rem;
  .red {
    color: $red !important;
  }
  .green {
    color: $green;
  }
  .blue {
    color: $blue;
  }
  mat-icon {
    width: 12px;
    height: 12px;
    font-size: .8rem;
  }
}
