<div *ngIf="value">
  <mat-icon class="red" *ngIf="value < 0">arrow_downward</mat-icon>
  <mat-icon [ngClass]="color" *ngIf="value > 0">arrow_upward</mat-icon>
  <span class="{{value < 0 ? 'red' : color}}">{{roundedValue}}%</span>
</div>
