<div class="container">
    <div class="filter">
        <h2>Filter results</h2>
        <span (click)="change(FilterRange.MONTH); input.value = null"
              [class.active]="filterState.range === FilterRange.MONTH">Last 30 days</span>
        <span (click)="change(FilterRange.WEEK); input.value = null"
              [class.active]="filterState.range === FilterRange.WEEK">Last 7 days</span>
        <span (click)="change(FilterRange.TODAY); input.value = null" [class.active]="filterState.range === FilterRange.TODAY">Today</span>
        <span class="custom">Custom:</span>
        <mat-form-field floatLabel="never">
            <input #input (dateChange)="onCustomRange($event.value)" matInput [satDatepicker]="picker" readonly>
            <sat-datepicker #picker [rangeMode]="true"></sat-datepicker>
            <sat-datepicker-toggle matSuffix [for]="picker"></sat-datepicker-toggle>
        </mat-form-field>
        <mat-icon [matTooltip]="helpMessage" *ngIf="helpMessage">help</mat-icon>
    </div>
</div>
