@import "../../../../../../../styles/colors";
@import "../../../../../../../styles/mixins";

.filter {
    margin-bottom: 40px;
    background-color: $blue;
    @include sf-card;
    color: $white;
    height: 60px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 6px 20px;
    text-transform: uppercase;

    > span:not(.custom) {
        padding: 6px 14px;
        transition: all .25s;
        user-select: none;

        &:hover, &.active {
            background-color: #fff;
            border-radius: 10em;
            color: $blue;
            font-weight: 600;
        }
    }
}

h2 {
    // font-size: 0.9rem;
    // letter-spacing: 1.5px;
    font-weight: 600;
}

span {
    font-size: 0.7rem;
    margin: 0 10px;
}

label {
    font-size: 0.65rem;
    text-transform: none;
    margin-right: 8px;
}

mat-icon {
    cursor: help;
}

mat-form-field {
    width: 220px;
    color: $white;
    //mat-datepicker-toggle {
    //  color: $white;
    //}
}

:host ::ng-deep .mat-form-field-underline {
    background-color: $white;
}

::ng-deep .mat-datepicker-toggle-default-icon {
    color: $white;
}

span,
h2 {
    cursor: pointer;
}

.custom {
    cursor: default;
}
