<main>
    <form [formGroup]="form" novalidate autocomplete="off">
        <div>
            https://3080b3a6.ngrok.io/api/shopify/index?shop=ministryoffashion.myshopify.com&timestamp=10000000
        </div>
        <mat-form-field>
            <input matInput formControlName="shopDomain" type="text" placeholder="Shopify store domain">
        </mat-form-field>

        <button mat-raised-button color="primary" (click)="onInstall()">Install</button>

    </form>
</main>
