main {
    height: 100vh;
    width: 100vw;
    min-width: 500px;
    display: flex;
    justify-content: center;
    align-items: center;
    form {
        width: 500px;
        height: 550px;
        border: 1px solid gray;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        padding: 40px;
        mat-form-field {
            width: 100%;
        }
        button {
            margin-top: 20px;
        }
    }
}
