@import "../../../../../../../styles/main.scss";
main {
  display: block;
  margin-bottom: 40px;
  @include sf-card;
  margin-bottom: 40px;
  .container {
    display: flex;
    .card {
      width: calc(100% / 3);
      margin-right: 20px;
      .card-header {
        padding: 20px;
        padding-bottom: 0;
        font-size: 1rem;
        color: $blue;
        font-weight: 600;
      }
      &:last-of-type {
        margin-right: 0;
      }
      .content {
        padding: 20px;
        app-info-block {
          display: block;
          margin-bottom: 20px;
          &:last-of-type {
            margin-bottom: 0;
          }
        }
        .details {
          text-transform: uppercase;
          color: $green;
          font-size: .8rem;
          font-weight: 600;
          margin-top: 40px;
          cursor: pointer;
          &:hover {
            color: lighten($green, 10%);
          }
        }
      }
    }
  }
}
