<main>
  <db-card-header [title]="'recos'" helpMessage="Help"> </db-card-header>
  <div class="container">
    <div class="card">
      <div class="card-header">
        – Style Picker
      </div>
      <div class="content">
        <app-info-block [data]="(data$ | async)?.stylePicker.renderedRecoBoxes"></app-info-block>
        <app-info-block [data]="(data$ | async)?.stylePicker.ctr"></app-info-block>
        <app-info-block [data]="(data$ | async)?.stylePicker.conversions"></app-info-block>
        <app-info-block [data]="(data$ | async)?.stylePicker.totalSales"></app-info-block>
        <div class="details">+ details</div>
      </div>
    </div>
    <div class="card">
      <div class="card-header">
        – Internal Pages
      </div>
      <div class="content">
        <app-info-block [data]="(data$ | async)?.internalPages.renderedRecoBoxes"></app-info-block>
        <app-info-block [data]="(data$ | async)?.internalPages.ctr"></app-info-block>
        <app-info-block [data]="(data$ | async)?.internalPages.conversions"></app-info-block>
        <app-info-block [data]="(data$ | async)?.internalPages.totalSales"></app-info-block>
        <div class="details">+ details</div>
      </div>
    </div>
    <div class="card">
      <div class="card-header">
        – Out-Of Stock Popup
      </div>
      <div class="content">
        <app-info-block [data]="(data$ | async)?.outOfStockPopup.renderedRecoBoxes"></app-info-block>
        <app-info-block [data]="(data$ | async)?.outOfStockPopup.ctr"></app-info-block>
        <app-info-block [data]="(data$ | async)?.outOfStockPopup.conversions"></app-info-block>
        <app-info-block [data]="(data$ | async)?.outOfStockPopup.totalSales"></app-info-block>
        <div class="details">+ details</div>
      </div>
    </div>
  </div>
</main>
