@import "../../../../../../styles/main.scss";
.container {
    @include sf-card;
    position: relative;
    display: flex;
    flex-direction: column;
    padding: 20px;
    padding-bottom: 10px;
    >* {
        width: 100%;
    }
    .title {
        position: relative;
        margin-bottom: 10px;
        color: $blue;
        &__left {
            margin-right: 30px;
            db-value-dynamic {
                display: inline-flex;
            }
        }
        span {
            font-size: 1rem;
            font-weight: 700;
            margin-right: 10px;
            text-transform: uppercase;
        }
        .help {
            position: absolute;
            top: 0;
            right: 0;
            cursor: pointer;
            &:hover {
                color: lignten($blue, 10%);
            }
        }
    }
    .body {
        display: flex;
        justify-content: center;
		align-items: center;
        width: 100%;
        height: 80px;
        background-color: $blue;
        color: $white;
        font-weight: 600;
        font-size: 2rem;
        margin-bottom: 10px;
        &.gray {
            background-color: $gray1;
            color: $blue;
        }
    }
    .help-message {
        display: flex;
        justify-content: center;
        align-items: center;
        color: $white;
        background: $blue;
        position: absolute;
        width: 100%;
        height: 100%;
        top: 0;
        left: 0;
        cursor: pointer;
        font-size: .7rem;
        padding: 5px 0;
        white-space: pre-wrap;
        >div {
            height: 100%;
            padding: 15px 20px;
            position: relative;
        }
    }
}

.percent {
	font-size: 1rem;
	margin-top: 12px;
	margin-left: 4px;
}