<div class="container" *ngIf="data">
  <div class="title">
    <div class="title__left">
      <span>{{data.title}}</span>
      <db-value-dynamic [value]="data.total.kpi"></db-value-dynamic>
    </div>
    <mat-icon class="help" (click)="showHelpMessage($event)">help</mat-icon>
  </div>
  <div class="body">
    <span *ngIf="data.dataType === DataType.NUMERIC">{{data.total.value | number:'1.0-0'}}</span>
    <span *ngIf="data.dataType === DataType.CURRENCY">{{data.total.value | currency:currency:'symbol-narrow':'1.0-0'}}</span>
    <span *ngIf="data.dataType === DataType.PERCENTAGE">{{data.total.value | number:'1.1-1'}}%</span>
  </div>
  <db-bar1 *ngIf="data.standard" [value]="data.standard.value" [dataType]="data.dataType" [total]="data.standard.value + data.seeFashion.value"
    color="blue" [progress]="data.standard.kpi"></db-bar1>
  <db-bar1 *ngIf="data.seeFashion" [value]="data.seeFashion.value" [dataType]="data.dataType" [total]="data.standard.value + data.seeFashion.value"
    color="green" [progress]="data.seeFashion.kpi"></db-bar1>
  <div #helpMessageRef *ngIf="data.helpMessage && isHelpMessageVisible" class="help-message" (click)="isHelpMessageVisible = false"
    [@fadeIn]="">
    <div [perfectScrollbar]="{wheelPropagation: false}">{{data.helpMessage}}</div>
  </div>
</div>
