@import "../../../styles/main.scss";
.sidenav-container {
  height: 100%;
  color: $gray2;
  background: $white;
}

.sidenav {
  width: 60px;
  box-shadow: 3px 0 6px rgba(0, 0, 0, .24);
  background: $blue;
}

.page-wrapper {
  height: calc(100vh - 80px);
  overflow-y: auto;
  overflow-x: hidden;
  padding: 20px;
}
