<mat-sidenav-container class="sidenav-container">
  <mat-sidenav #drawer class="sidenav" fixedInViewport="true" [attr.role]="(isHandset$ | async) ? 'dialog' : 'navigation'"
    [mode]="(isHandset$ | async) ? 'over' : 'side'" [opened]="!(isHandset$ | async)">
    <app-menu #menu></app-menu>
  </mat-sidenav>

  <mat-sidenav-content>
    <app-header [drawer]="drawer" [isHandset]="isHandset$ | async"></app-header>
    <div class="page-wrapper" #pageWrapper>
      <router-outlet></router-outlet>
    </div>
    <db-fast-scroll *ngIf="isVisible"></db-fast-scroll>
  </mat-sidenav-content>
</mat-sidenav-container>
