@import "../../../../../../styles/colors";
main {
    header, footer {
        padding: 20px;
        font-size: 1.4rem;
        font-weight: 600;
        border-bottom: 1px solid $gray1;
    }
    header {
        background: $blue;
        color: $white;
    }
    section {
        padding: 20px;
        display: flex;
        flex-direction: column;
        align-items: center;
        &>span {
            text-align: left;
            width: 100%;
            color: $blue;
            font-weight: 600;
            &:hover {
                cursor: pointer;
                color: lighten($blue, 10%)
            }
        }
        article {
            font-size: 1rem;
            span {
                &:first-child {
                    width: 160px;
                    display: block;
                    font-weight: 600;
                }
            }
            display: flex;
            flex-direction: row;
            width: 100%;
            font-weight: 400;
            color: $gray2;
            padding-bottom: 10px;
            align-items: center;
        }
    }
    footer {
        border-bottom: none;
        text-align: right;
        padding-top: 0;
        button {
            background: $blue;
            border: none;
            height: 30px;
            font-size: 1rem;
            font-weight: 400;
            cursor: pointer;
            color: $white;
            border-radius: 2px;
        }
    }
}