<main *ngIf="myProfile$ | async as profile">
    <header>
        <p>See Fashion's</p>
    </header>
    <section>
        <article>
            <span>First Name</span>
            <span>{{profile.firstName}}</span>
        </article>
        <article>
            <span>Last Name</span>
            <span>{{profile.lastName}}</span>
        </article>
        <article>
            <span>Email</span>
            <span>{{profile.email}}</span>
        </article>
        <span>Change password</span>
    </section>
    <footer>
        <button mat-dialog-close>Close</button>
    </footer>
</main>